::-webkit-scrollbar {
    display: none;
}

body,
p,
h1,
h2,
h3 {
    margin: 0px;
}

body {
    line-height: 1.8;
    letter-spacing: 1.5;
}

h1 {
    font-family: 'Pattaya', sans-serif;
}


/* Header */


/* Nav-Bar */

#NavBar {
    position: fixed;
    z-index: 100;
    width: 100%;
    opacity: 1;
}

#NavBar i {
    /* Home icon only */
    margin-left: 4px;
}

#navbarSupportedContent i {
    /* Other icons */
    margin: 0px 4px 0px 10px;
}

.leftalign {
    position: absolute;
    right: 20px;
}


/* Main */

#main {
    text-align: center;
    color: aliceblue;
    background-color: #101820FF;
    /* background-image: url(Scene-24.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
    padding: 120px 0px 60px;
}

#main h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 60px;
    ;
}

#main h2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

#main h3 {
    font-family: 'Pattaya', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

#main img {
    border-radius: 100%;
    margin: auto;
    display: block;
}


/* Education */

#Education {
    background-color: white;
    color: #101820FF;
    text-align: center;
}

#Education .heading {
    padding: 60px 40px 10px;
}

#Education .carousel-item {
    padding: 60px 280px 80px;
    line-height: 2;
}

#Education img {
    background-color: #101820FF;
    width: 120px;
    height: 120px;
    color: #fff;
    border-radius: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(189, 182, 182);
}


/* Skills */

#Skills {
    text-align: center;
    background-color: #101820FF;
    color: #fff;
    padding: 60px 30px 30px;
}

.card {
    margin: 10px;
    border-radius: 10px;
    color: black;
}

.card-body {
    text-align: left;
}


/* Projects  */

#Projects {
    text-align: center;
    padding: 60px 30px 30px;
    background-color: white;
    color: #101820FF;
}

.projects {
    background-size: 100vw 70px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.projectshov:hover {
    background-size: 100vw 380px;
    height: 380px;
    transition: .8s ease-in-out;
    box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
}


/* Project1 Specific */

.project1 {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.project1:hover {
    background-image: url(1.png);
}


/* Project2 Specific */

.project2 {
    background-color: #7ed6df;
    background-image: linear-gradient(315deg, #7ed6df 0%, #000000 74%);
}

.project2:hover {
    background-image: url(2.png);
}


/* Project3 Specific */

.project3 {
    background-color: #e056fd;
    background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
}

.project3:hover {
    background-image: url(3.png);
}


/* Project4 Specific */

.project4 {
    background-color: #7a7adb;
    background-image: linear-gradient(315deg, #7a7adb 0%, #170e13 74%);
}

.project4:hover {
    background-image: url(4.png);
}

.project5 {
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
}

.project5:hover {
    background-image: url(5.png);
}


/* Coming Soon Specific */

.comsoon {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}

.comsoon:hover {
    background-image: url(comingSoon.jpg);
}

.images-project {
    margin-top: 1130px;
    font-family: 'Pattaya', sans-serif;
}


/* Footer */

#Footer {
    text-align: center;
    background-color: #101820FF;
    padding-top: 20px;
    padding-bottom: 8px;
    background-color: #101820FF;
    color: #fff;
}

#Footer i {
    margin: 0px 5px;
}

@media(max-width:807px) {
    #Education .carousel-item {
        padding: 10px 60px;
        line-height: 2;
    }
    .leftalign {
        position: relative;
        margin-left: 20px;
    }
    .projects {
        margin-top: 20px;
        border-radius: 10px;
        background-size: 100vw 220px;
        height: 220px;
        transition: .8s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .projectshov:hover {
        background-size: 100vw 220px;
        height: 220px;
        transition: .8s ease-in-out;
        box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
        -webkit-box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: 8px 8px 23px 1px rgba(0, 0, 0, 0.72);
    }
    /* Project1 Specific */
    .project1 {
        background-image: url(1.png);
    }
    .project1:hover {}
    /* Project2 Specific */
    .project2 {
        background-image: url(2.png);
    }
    .project2:hover {}
    /* Project3 Specific */
    .project3 {
        background-image: url(3.png);
    }
    .project3:hover {}
    /* Project4 Specific */
    .project4 {
        background-image: url(4.png);
    }
    .project4:hover {}
    /* Project5 Specific */
    .project5 {
        background-image: url(5.png);
    }
    .project5:hover {}
    /* Coming Soon Specific */
    .comsoon {
        background-image: url(comingSoon.jpg);
    }
    .comsoon:hover {}
}


/* Horizontal Row Style */


/* background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);
    background-color: #e84393;
    background-image: linear-gradient(315deg, #e84393 0%, #000000 74%); 
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);*/