body {
    background-color: #f8f5f1;
    font-family: "Sofia", sans-serif;
    color: #45526c;
    margin: 0px 10px;
}

hr {
    border-style: dotted none none none;
    border-color: lightgrey;
    border-width: 5px;
    width: 25%;
    height: 0px;
}

h2,
h3 {
    font-family: "Sofia", sans-serif;
    color: #66bfbf;
    margin-top: 0px;
}